<% content_for(:title, "News") %>
<% content_for(:page_title, "News") %>

<section class="tables">   
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
        <% if policy(@notification).create? %> 
          <div class="card-header d-flex align-items-center">
            <%= link_to 'Add News', new_notification_path, class: "btn btn-success" %>
          </div>
        <% end %>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th style="width: 30%">Title</th>
                    <th style="width: 60%">Content</th>
                    <th colspan="3">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% @notifications.each do |notification| %>
                    <tr>
                      <td><%= notification.id %></td>
                      <td><%= notification.title %></td>
                      <td><%= notification.body %></td>
                      <td><%= link_to 'Show', notification, class: "btn-primary small-button-padding" %></td>
                      <% if current_user.admin %>
                        <td><%= link_to 'Edit', edit_notification_path(notification), class: "btn-warning small-button-padding" %></td>
                        <td><%= link_to 'Destroy', notification, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-danger small-button-padding" %></td>
                      <% end %>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<br>


