<% content_for(:title, "Events") %>
<% content_for(:page_title, "Events") %>

<div class="container">
  <ul class="nav nav-tabs nav-justified">
    <li class="active"><a data-toggle="tab" href="#current">Happening &nbsp;</a></li>
    <li><a data-toggle="tab" href="#past">Past &nbsp;</a></li>
    <li><a data-toggle="tab" href="#upcoming">Upcoming &nbsp;</a></li>
    <li><a data-toggle="tab" href="#going">Going &nbsp;</a></li>
  </ul>

  <div class="tab-content">
    <div id="current" class="tab-pane fade in active">
      <% @present.each do |event| %> 
        <div class="container">
          <div class="row">
            <div class="card col-md-12">
              <div class="card-body">
                <h5 class="card-title"><%= event.title %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><span>Date: <%= event.event_date %></span><br/>
                <span>Starts at: <%= event.start_time %></span><br/>
                <span>Ends at: <%= event.end_time %></span><br/>
                <span>Venue: <%= event.venue %></span></h6>
              </div>
              <div class="card-footer">
                <%= link_to 'View Details', event, class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div id="past" class="tab-pane fade">
      <% @past.each do |event| %>
        <div class="container">
          <div class="row">
            <div class="card col-md-12">
              <div class="card-body">
                <h5 class="card-title"><%= event.title %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><span>Date: <%= event.event_date %></span><br/>
                <span>Starts at: <%= event.start_time %></span><br/>
                <span>Ends at: <%= event.end_time %></span><br/>
                <span>Venue: <%= event.venue %></span></h6>
              </div>
              <div class="card-footer">
                <%= link_to 'View Details', event, class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div id="upcoming" class="tab-pane fade">
      <% @future.each do |event| %>
        <div class="container">
          <div class="row">
            <div class="card col-md-12">
              <div class="card-body">
                <h5 class="card-title"><%= event.title %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><span>Date: <%= event.event_date %></span><br/>
                <span>Starts at: <%= event.start_time %></span><br/>
                <span>Ends at: <%= event.end_time %></span><br/>
                <span>Venue: <%= event.venue %></span></h6>
              </div>
              <div class="card-footer">
                <%= link_to 'View Details', event, class: "btn btn-primary" %>
                <% if current_user.admin %>
                  <%= link_to 'Edit', edit_event_path(event), class: "btn btn-warning" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div id="going" class="tab-pane fade">
      <% @going.each do |event| %>
        <div class="container">
          <div class="row">
            <div class="card col-md-12">
              <div class="card-body">
                <h5 class="card-title"><%= event.title %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><span>Date: <%= event.event_date %></span><br/>
                <span>Starts at: <%= event.start_time %></span><br/>
                <span>Ends at: <%= event.end_time %></span><br/>
                <span>Venue: <%= event.venue %></span></h6>
              </div>
              <div class="card-footer">
                <%= link_to 'View Details', event, class: "btn btn-primary" %>
                <% if current_user.admin %>
                  <%= link_to 'Edit', edit_event_path(event), class: "btn btn-warning" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>

<!-- 
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Event date</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Venue</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @future.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.event_date %></td>
        <td><%= event.start_time %></td>
        <td><%= event.end_time %></td>
        <td><%= event.venue %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
-->

<% if current_user.admin %>
  <%= link_to 'New Event', new_event_path %>
<% end %>