<% content_for(:title, "Events") %>
<% content_for(:page_title, "Events") %>
<section class="table">
<div class="container">
    <% if current_user.admin %>
      <div class="card">
        <div class="card-header">
          <%= link_to 'New Event', new_event_path, class: "btn btn-primary" %>
        <div>
      </div>
    <% end %>
  <br/>
  <ul class="nav nav-tabs nav-justified">
    <li class="active"><a data-toggle="tab" href="#current">Happening &nbsp;</a></li>
    <li><a data-toggle="tab" href="#past">Past &nbsp;</a></li>
    <li><a data-toggle="tab" href="#upcoming">Upcoming &nbsp;</a></li>
    <li><a data-toggle="tab" href="#going">Going &nbsp;</a></li>
  </ul>

  <div class="tab-content">
    <div id="current" class="tab-pane fade active">
      <% @present.each do |event| %> 
        <div class="container">
          <div class="row">
            <div class="card col-md-12">
              <div class="card-body">
                <h5 class="card-title"><%= event.title %></h5><br/>
                <h6 class="card-subtitle mb-2 text-muted"><span>Date: <%= event.event_date %></span><br/>
                <span>Starts at: <%= event.start_time %></span><br/>
                <span>Ends at: <%= event.end_time %></span><br/>
                <span>Venue: <%= event.venue %></span><br/>
                <span>Capacity: <%= event.capacity %></span></h6>
              </div>
              <div class="card-footer">
                <%= link_to 'View Details', event, class: "btn btn-primary" %>
                <%= link_to 'Remove', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div id="past" class="tab-pane fade">
      <% @past.each do |event| %>
        <div class="container">
          <div class="row">
            <div class="card col-md-12">
              <div class="card-body">
                <h5 class="card-title"><%= event.title %></h5><br/>
                <h6 class="card-subtitle mb-2 text-muted"><span>Date: <%= event.event_date %></span><br/>
                <span>Starts at: <%= event.start_time %></span><br/>
                <span>Ends at: <%= event.end_time %></span><br/>
                <span>Venue: <%= event.venue %></span><br/>
                <span>Capacity: <%= event.capacity %></span></h6>
              </div>
              <div class="card-footer">
                  <%= link_to 'View Details', event, class: "btn btn-primary" %>
                <%= link_to 'Remove', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div id="upcoming" class="tab-pane fade">
      <% @future.each do |event| %>
        <div class="container">
          <div class="row">
            <div class="card col-md-12">
              <div class="card-body">
                <h5 class="card-title"><%= event.title %></h5><br/>
                <h6 class="card-subtitle mb-2 text-muted"><span>Date: <%= event.event_date %></span><br/>
                <span>Starts at: <%= event.start_time %></span><br/>
                <span>Ends at: <%= event.end_time %></span><br/>
                <span>Venue: <%= event.venue %></span><br/>
                <span>Capacity: <%= event.capacity %></span></h6>
              </div>
              <div class="card-footer">
                <%= link_to 'View Details', event, class: "btn btn-primary" %>
                <% if current_user.admin %>
                  <%= link_to 'Edit', edit_event_path(event), class: "btn btn-warning" %>
                  <%= link_to 'Remove', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%>
                <% end %>
                <% if @going.include?(event)%>
                  <span class="success" style="color: green"> You are going to this event</span>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div id="going" class="tab-pane fade">
      <% @going.each do |event| %>
        <div class="container">
          <div class="row">
            <div class="card col-md-12">
              <div class="card-body">
                <h5 class="card-title"><%= event.title %></h5><br/>
                <h6 class="card-subtitle mb-2 text-muted"><span>Date: <%= event.event_date %></span><br/>
                <span>Starts at: <%= event.start_time %></span><br/>
                <span>Ends at: <%= event.end_time %></span><br/>
                <span>Venue: <%= event.venue %></span><br/>
                <span>Capacity: <%= event.capacity %></span></h6>
              </div>
              <div class="card-footer">
                <%= link_to 'View Details', event, class: "btn btn-primary" %>
                <% if current_user.admin %>
                  <%= link_to 'Edit', edit_event_path(event), class: "btn btn-warning" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>
</section>