<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @event.venue %>
</p>
<% unless Time.parse(@event.event_date.strftime("%Y-%m-%d")).past? || @event.users.include?(current_user) %>
  <%= link_to "Join this Event", user_events_path(uid: current_user.id, eid: @event.id), class: "btn btn-success" %>
<% end %>

<% if @event.users.include?(current_user) %>
  <%= link_to "Withdraw from this Event", new_user_event_path(uid: current_user.id, eid: @event.id), class: "btn btn-danger" %>
<% end %>
<% if current_user.admin %>
  <table class="table">
  <% @event.users.each do |joined_user| %>
    <tr>
      <td><%= joined_user.email %></td>
      <td><%= joined_user.name %></td>
      <td><%= joined_user.address %></td>
      <td><%= joined_user.phone %></td>
      <td><%= link_to 'Remove', new_user_event_path(uid: joined_user.id, eid: @event.id), data: { confirm: 'Are you sure?' }, class: "btn-danger small-button-padding" %></td></td>
    </tr>
  <% end %>
  </table>
<% end %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
