
<% if current_user %>
    <% content_for(:title, "Home") %>
    <% content_for(:page_title, "Dashboard") %>

    <section class="dashboard-counts no-padding-bottom">
        <div class="container-fluid">
            <div class="row bg-white has-shadow">
                <% if current_user.admin == false %>
                    <h4>Welcome to the Club Interface. You can use the interface to manage your club membership, view news, join events and withdraw from it.</h4>
                <% else %>
                    <h4>Welcome to the Club interface as an <strong>Admin</strong>. As an admin, you can broadcast news to the club members, create events, edit or remove member details, and de-register/register users for an event.</h4>
                <% end %>
            </div>
        </div>
    </section>

    <section class="dashboard-counts no-padding-bottom">
            <div class="container-fluid">
              <div class="row bg-white has-shadow">
                <!-- Item -->
                <div class="col-xl-3 col-sm-6">
                  <div class="item d-flex align-items-center">
                    <div class="icon bg-violet"><i class="icon-user"></i></div>
                    <div class="title"><span>Total<br>Members</span>
                    </div>
                    <div class="number"><strong><%= @members %></strong></div>
                  </div>
                </div>
                <!-- Item -->
                <div class="col-xl-3 col-sm-6">
                  <div class="item d-flex align-items-center">
                    <div class="icon bg-red"><i class="icon-padnote"></i></div>
                    <div class="title"><span>All<br>News</span>
                    </div>
                    <div class="number"><strong><%= @news %></strong></div>
                  </div>
                </div>
                <!-- Item -->
                <div class="col-xl-3 col-sm-6">
                  <div class="item d-flex align-items-center">
                    <div class="icon bg-green"><i class="icon-bill"></i></div>
                    <div class="title"><span>Total<br>Events</span>
                    </div>
                    <div class="number"><strong><%= @events %></strong></div>
                  </div>
                </div>
                <!-- Item -->
                <div class="col-xl-3 col-sm-6">
                  <div class="item d-flex align-items-center">
                    <div class="icon bg-orange"><i class="icon-check"></i></div>
                    <div class="title"><span>Next<br>Event</span>
                    </div>
                    <div class="number">
                      <strong><span style="font-size: 15px">
                        <%= link_to @next_event.title, @next_event, title: "Click to view Details" %>
                        <br><%= @next_event.event_date %>
                      </span></strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
         
        <% if current_user.admin %>
          <section class="dashboard-counts no-padding-bottom">
            <div class="container-fluid">
              <div class="row bg-white has-shadow">
                <!-- Item -->
                <div class="col-xl-3 col-sm-6">
                  <div class="item d-flex align-items-center">
                    <div class="icon bg-violet"><i class="icon-user"></i></div>
                    <div class="title"><%= link_to 'Manage Members', members_path %>
                    </div>
                  </div>
                </div>
                <!-- Item -->
                <div class="col-xl-3 col-sm-6">
                  <div class="item d-flex align-items-center">
                    <div class="icon bg-red"><i class="icon-padnote"></i></div>
                    <div class="title"><%= link_to 'Broadcast News', notifications_path %>
                    </div>
                  </div>
                </div>
                <!-- Item -->
                <div class="col-xl-3 col-sm-6">
                  <div class="item d-flex align-items-center">
                    <div class="icon bg-green"><i class="icon-bill"></i></div>
                    <div class="title"><%= link_to 'Add an Event', events_path %>
                    </div>
                  </div>
                </div>
                <!-- Item -->
                <!-- Item -->
                <div class="col-xl-3 col-sm-6">
                  <div class="item d-flex align-items-center">
                    <div class="icon bg-orange"><i class="icon-check"></i></div>
                    <div class="title"><span>Total<br>Admins</span>
                    </div>
                    <div class="number"><strong><%= @admins %></strong></div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        <% end %>
<!-- 
    <h4>
        <% if current_user.admin %>
            You are logged in as Admin
        <% else %>
            You are logged in as User        
        <% end %>
    </h4>
    
    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
-->
<% else %>
    <%= link_to 'Sign Up', new_user_registration_path %>
    <%= redirect_to 'Sign In', new_user_session_path %>
<% end %>