<div class="page-content d-flex align-items-stretch"> 
        <!-- Side Navbar -->
        <nav class="side-navbar">
          <!-- Sidebar Header-->
          <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"> <%= image_tag('avatar.png', class: "img-fluid rounded-circle", alt: "user_dp", title: "User Profile Image") %></div>
            <div class="title">
              <h1 class="h4"><%= current_user.name %></h1>
              <p><% if current_user.admin %> Admin <% else %> User <% end %></p>
            </div>
          </div>
          <!-- Sidebar Navidation Menus--><span class="heading">Menu</span>
          <ul class="list-unstyled">
            <li class="active"><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'News', notifications_path %></li>
            <li><%= link_to 'Events', events_path %></li>
            <li><a href="">Members</a></li>
            <li><%= link_to 'Settings', edit_user_registration_path %></li>
          </ul>
        </nav>